HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/logs/
/system-platform-conusl-consumer/.mvn/
/system-platform-hystrix/.mvn/
/system-platform-zuul/.mvn/
/system-platform-pom/.mvn/
/system-platform-nacos-producer-two/.mvn/
/system-platform-nacos-producer-one/.mvn/
/system-platform-nacos-consumer/.mvn/
/system-platform-monitor/.mvn/
/system-platform-admin/.mvn/
/system-platform-backup/.mvn/
/system-platform-common/.mvn/
/system-platform-conusl-consumer/.mvn/
/system-platform-core/.mvn/
